* ----------------MEDIA QUERIES--------------------- */

@media screen and (max-width: 1346px) {
    .main-div {
      width: 100%;
    }
}

  
@media screen and (max-width: 1024px) {
   .menu{
    margin-left: 80px;
    }

    .menu-item{
        font-size: 12px;
        font-weight: 500;
    }

    .logo img{
        width: 100px
        ;
    }
      
    .register{
        padding: 0.5px;
        margin-right: 800px;
        border-radius: 12px;
        
    }

    .register-btn{
        padding: 10px;
        font-size: 12px;
        font-weight: 800;
        transition: all 0.6s;
        white-space: nowrap
    }

    .menu-item{
        font-family: 'Verdana', Geneva, Tahoma, sans-serif;
        font-size: 15px;
        cursor: pointer;
        margin-right: 50px;
        white-space: nowrap
        
    }

    /** Card 1 Style **/

    .cardOne{
        display: flex;
        padding: 0px;
    }

    .CardOne-rightinfo img{
        width: 90%;   
    }

    .testdescription{
        width: 500px;
    }

    .unlimited-hosting{
        font-size: 40px;
    }

    
    .unlimited-hosting-info{
    font-size: 14px;
    }

    .chooseButton{
        padding: 12px;
        border-radius: 8px;
        font-size: 15px;
    }

    
    /** Card 2 Style **/

    .cardTwo{
        display: flex;
        padding: 0px;
    }

    .cardTwo-leftinfo img{
        width: 90%;
        
    }

    .best-quality{
        font-size: 40px;
    }

    .best-quality-info{
        font-size: 14px;
    }

    .readMore1{
        padding: 12px;
        border-radius: 8px;
        font-size: 15px;
    }

    /** Card 3 Style **/
    .cardThree{
        display: flex;
        padding: 0px;
    }

    .technical-support{
        font-size: 40px;
    }

    .technical-support-info{
        font-size: 14px;
    }

    .readMore2{
        padding: 12px;
        border-radius: 8px;
        font-size: 15px;
    }

    .cardThree-rightinfo img{
        width: 90%;
        float: right;
    }

    /** Service Section **/

    
    .serviceCard{
        display: flex;
    }

    .servicesHeading{
        font-size: 40px;
        width: 500px;
    }

    .serviceHeadingDescription{
        font-size: 14px;
        width: 40%;
        
    }
    /*** Feature Card ***/
    .featureCards{      
        justify-content: space-around;
    }

    .featureCard{
        margin: 20px 10;
    }
    
    /*** Pricing  ****/

    .starterPack, .BusinessPackage, .popularPackage
    {    
        padding: 15px;
        border-radius: 15px;
    }

    .pricecardheading{
        margin: 8px 0;
        font-size: 20px;
    }

    .priceCardDescription{
        font-size: 12px;
        font-weight: 100;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .features{
        font-size: 12px;
        margin: 20px 0;
    }

    .packPrice{
        font-family: 'Verdana', Geneva, Tahoma, sans-serif;
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .cancel{
        font-size: 12px;
    }

    .planChoiceOuterLine{
        margin: 20px 0;
    }

    .planChoice{
        padding: 12px ;
        font-size: 15px;
        font-weight: 900;
        background-color: #fff;
        cursor: pointer;
        color:#08A0F4;
    }
    
    /*** Testimonial Section ***/

    .testHead{
        font-size: 40px;   
    }

    .testdescription{
        font-size: 10 px;
    }

    .testimonialCards{
        display: flex;
        justify-content:center;        
    }

    .testCardDescription h4{
        font-size: 12px;
    }

    .creditDetails{
        font-size: 15px;
    }


}

@media screen and (max-width: 768px) {

    .nav{
        flex-direction: column;
        justify-content: space-around;
    }
    
    .menu{
        margin: 30px 0;
        justify-content: center;
    }

    .menu-item{
        font-size: 12px;
        font-weight: 500;
    }

    .logo img{
        width: 100px;
    }    

    .register{
        padding: 0.5px;
        border-radius: 12px;
        margin: 0;
        
    }

    .register-btn{
        padding: 10px;
        font-size: 12px;
        font-weight: 500;
        transition: all 0.6s;
        white-space: nowrap
    }

    .menu-item{
        font-size: 12px;
        cursor: pointer;
    }

    /** Card 1 Style **/

    .cardOne{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0px;

    }

    .CardOne-leftinfo{
        width: 100% ;
        display: flex ;
        flex-direction: column;
        align-items: center;
      }

    .unlimited-hosting{
        font-size: 30px;
    }
    .CardOne-rightinfo{
        width: 50%;
        align-self: center;

    }

    .testdescription{
        width: 500px;
    }

    /** Card 2 Style **/
    
    .cardTwo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .cardTwo-leftinfo{
        width: 50%;
        align-self: center;   
    }

    .best-quality{
        font-size: 30px;
        width: 100%;
    }

    .cardTwo-rightinfo{
        width: 100% ;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .best-quality-info{
        width: 500px;
    }

    /** Card 3 Style **/

    .cardThree{
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .cardThree-rightinfo{
        width: 50%;
        align-self: center;   
    }


    .technical-support{
        font-size: 30px;
    }    

    .technical-support-info{
        width: 500px;
    }

    .cardThree-leftinfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    /** Service Section **/
    .serviceCard{
     align-items: center;
    }

    .servicesHeading{
        font-size: 30px;
        width: 400px;
    }

    /*** Pricing  ****/
    
    .packPrice{
        font-size: 20px;
        margin-bottom: 20px;
    }


    /*** Testimonial Section ***/
    .testHead{
        font-size: 30px;   
    }

    /*** Pre - Footer Section***/
    .preFooter{
        flex-direction: column;
        align-items: space-around;
        padding: 50px;
    }

    .preFooterHeading{
        width:fit-content;
        font-size: 40px;
        font-weight: 500;  
    }    

    .preFooterDescription{
        width: fit-content;
        font-size: 12px;
        margin-bottom: 50px;
    }

    /*** Footer Section Starts ***/

    .footer{
        padding: 30px;
        width: auto;
        display: flex;
        justify-content: space-between;
    }

    .left-section-description{
        width: 80%;
        font-size: 12px;    
    }


}



@media screen and (max-width: 768px) {
    

}