@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');

@import url(./Responsive.css);

*{
    margin: 0;
    padding: 0px;
}


/* Navigation Bar */

.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.menu{
    width: 600px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 300px;
}

.menu-item{
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: #707071;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.menu-item:hover{
    color: #000;
    transition: 0.4s;
    scale: 1.03;
    
}

.register{
    padding: 1px;
    background: linear-gradient(90deg, rgba(8, 184, 247) 7%, rgba(7, 151, 242) 100%);
    border-radius: 12px;
    
}

.register-btn{
    padding: 15px ;
    border: none;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 900;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.6s;
    color: rgba(8, 184, 247);


}

.register-btn:hover{
    color: #000;
    opacity: 0.9;
    background: linear-gradient(90deg, rgba(8, 184, 247) 7%, rgb(7, 114, 180) 100%);
    color: #fff;
    transition: 0.4s;
    box-shadow: 1px 1px 5px #1d2c5052 ;
    
}


/* Intro Cards */
.intro-info{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

    /** Card 1 Style **/
.cardOne{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.CardOne-leftinfo{
  width: 50% ;
}

.unlimited-hosting{
    font-size: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: #1D2B4F;
}

.unlimited-hosting-info{
    width: 80%;
    margin: 30px 0;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #989999;
}

.chooseButton{
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(135deg, rgba(8, 184, 247) 7%, rgba(7, 151, 242) 100%);
    cursor: pointer;
}

.chooseButton:hover{
    opacity: 90%;
    transition: 0.4s;
    scale: 1.03;
    box-shadow: 1px 1px 5px #1d2c5052 ;
}



/** Card 2 Style **/
.cardTwo{
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    margin: 100px 0;

}
.cardTwo-rightinfo{
    width: 50% ; 
    margin-left: 100px;
}

.best-quality{
    font-size: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: #1D2B4F;
}

.best-quality-info{
    width: 80%;
    margin: 30px 0;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #989999;
}

.readMore1{
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(135deg, rgba(8, 184, 247) 7%, rgba(7, 151, 242) 100%);
    cursor: pointer;
}

.readMore1:hover{
    opacity: 90%;
    transition: 0.4s;
    scale: 1.03;
    box-shadow: 1px 1px 5px #1d2c5052 ;
}


/** Card 3 Style **/

.cardThree{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.cardThree-leftinfo{
    width: 50%;
}

.cardThree-rightinfo{
    width: 50%;
}

.technical-support{
    font-size: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: #1D2B4F;
}

.technical-support-info{
    width: 80%;
    margin: 30px 0;
    font-size: 17px;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: #989999;
}

.cardThree-rightinfo img{
    width: 600px;
}

.readMore2{
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(135deg, rgba(8, 184, 247) 7%, rgba(7, 151, 242) 100%);
    cursor: pointer;
}

.readMore2:hover{
    opacity: 90%;
    transition: 0.4s;
    scale: 1.03;
    box-shadow: 1px 1px 5px #1d2c5052 ;
}


/** Service Section **/

.service-info{
    padding: 5px 50px 50px 50px ;
}


.serviceCards{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    
}

.serviceCard{
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
}

.servicesHeading{
    width: 60%;
    font-size: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: #1D2B4F;
    padding: 0;
}

.serviceHeadingDescription{
    width: 50%;
    margin: 30px 0;
    font-size: 17px;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: #989999;
    margin-right: 50px;
}

        /*** Feature Card ***/

.featureCards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.featureCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 20px;
    width: 30%;  /* Used to bring all the 6 features in 2 rows. 100%/3 = 33.33%  */
}

.featureCard img{
    width: 50px;
}

.featureCardHeading{
    font-size: 25px;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    padding: 30px 0;
    color: #1D2B4F;
}

.featureCardDescription{
    color: #989999;
}


/* Pricing  */

.starterPack, .BusinessPackage, .popularPackage
{   display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -300px;
    background-color: #fff;   
    width: 23%;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 100px;
    cursor: pointer;
}


.starterPack:hover, .BusinessPackage:hover, .popularPackage:hover{
    transition: 0.5s;
    transform: scale(1.03);
    box-shadow: 1px 1px 5px #1d2c50 ;
}


.pricingcards{
    display: flex;
    justify-content: space-around;
}


.pricing-section{
    width: auto;
    display: flex;
    flex-direction: column;
    background: rgb(10,197,249);
    background: linear-gradient(135deg, rgba(10,197,249,1) 7%, rgba(6,129,239,1) 100%);
}

.pricingpanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.priceheading{
    display: flex;
    justify-content: center;
 
}

.priceheading h1{
    color: #fff;
    font-size: 40px;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    margin: 50px 0;
}

.priceCardFeature{
    text-decoration: none;
    padding: 30px 10px ;
}

.pricecardheading{
    margin: 10px 0;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1D2B4F;
}

.priceCardDescription{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #A3A8B7;
    font-size: 15px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.features{
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    list-style: none;
    color: #798196;
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0;
}

/* Checkbox image */
.features img{
width: 20px;
}

.packPrice{
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #1d2c50;
    margin-bottom: 30px;
}

.packPrice span{
    color: #798196 ;
}

.cancel{
    color: #798196;
}

.planChoiceOuterLine{
    width: fit-content;
    margin: 30px 0;
    padding: 1px;
    background: linear-gradient(90deg, rgba(8, 184, 247) 7%, rgba(7, 151, 242) 100%);
    border-radius: 12px;
}

.planChoice{
    padding: 15px ;
    border: none;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 900;
    background-color: #fff;
    cursor: pointer;
    color:#08A0F4;
}

.planChoice:hover{
    background: linear-gradient(90deg, rgba(8, 184, 247) 7%, rgba(7, 151, 242) 100%);
    color: #fff;
    transition: all 0.6s;
    box-shadow: 1px 1px 5px #1d2c5052 ;
}
           

/*** Testimonial Section ***/

.testimony{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin: 60px 0;
}

.testHead{
    color: #1d2c50;
}

.testimonialHeading{
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

.testHead{
    font-size: 45px;   
}

.testdescription{
    color: #798196e5;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-size: 14 px;
    margin: 30px 0;
}

.testimonialCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonialCard{
    display: flex;
    flex-direction: column;
}

.testimonialBlock{
    border: solid 0.1rem;
    border-color: #79819667;
    border-radius: 5px;
    
}

.testimonialBlock, .credits{
   width: 500px;
   margin: 20px;
   font-family: 'Verdana', Geneva, Tahoma, sans-serif;
   color: #1d2c50;t
}

.testimonialBlock:hover{
    transition: 0.4s;
    scale: 1.03;
    box-shadow: 1px 1px 5px #1d2c5052 ;
    
}

.testCardDescription{
    padding: 20px;
}

.testCardDescription h4{
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: #798196;
    font-size: 15px;
    font-weight: 100;
}

.credits{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.creditDetails{
    margin-left: 20px;
}

/*** Testimonial Section Ends ***/


/*** Pre - Footer Section Starts ***/
.preFooter{
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 100px;
    background-image: url(./Assets/footer-bg2.svg);
    align-items: center;
    box-shadow: 1px 1px 5px #1d2c507a;
    
}
.preFooterHeading{
    width: 600px;
    font-family:'Verdana', Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;  
}

.preFooterDescription{
    width: 600px;
    font-family:'Verdana', Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: #fff;
}

.preFooterRegister{
    padding: 15px ;
    border: 1px solid #fff;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background: transparent;
    transition: all 0.6s;
    cursor: pointer;
}

.preFooterRegister:hover{
    color: #000;
    opacity: 0.9;
    color:#000;
    background-color: #fff;
    transition: 0.4s;
    scale: 1.03;
    box-shadow: 1px 1px 5px #1d2c5052 ;
}

/*** Pre-Footer Section Ends Here ***/



/*** Footer Section Starts ***/
.footer{
    padding: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.left-section img{
    width: 100px;
}

.left-section-description{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-weight: 300;
    color:#707071;
}

.footerMenu{
    display: flex;
    flex-direction: column;
}

.left-section{
    width: 300px;
}

.mid-section{
    width: 600px;
    display: flex;  
    justify-content: space-around;
}

.footMenu, .links, .overview{
    font-family: 'Quicksand', Geneva, Tahoma, sans-serif ;
    font-size: 20px;
    margin-bottom: 20px;
    color: #1D2B4F;
}

.footerMenuItem, .footerLinkItem, .footerOverviewItem{
    list-style: none;
    font-family: 'Quicksand', Geneva, Tahoma, sans-serif ;
    font-size: 15px;
}

.menuItems, .LinkItems, .OverviewItems{
    cursor: pointer;
    margin-bottom: 20px;
    color:#707071;
}

.menuItems:hover, .LinkItems:hover, .OverviewItems:hover{
    color: #000;
    transition: 0.1s;
    scale: 1.03;
}

.socialHead{
    font-family: 'Quicksand', Geneva, Tahoma, sans-serif ;
    font-size: 20px;
    color: #1D2B4F;
    margin-bottom: 20px;
}

.socialLinks{
    display: flex;
    flex-direction: column;
}

.socialImages img{
    width: 30px;
    margin: 0 3px;
}

.socialImages img:hover{
    color: #000;
    transition: 0.3s;
    scale: 1.3;
}